{% extends 'base.html' %}
{% load static %}

{% block title %}Trasnfer Credit | Credit Managment App{% endblock title %}
{% block transferactive %}active{% endblock transferactive %}

{% block body %}
{% if status %}
<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
    <strong>Success!</strong> {{credit}} credits have been sent to {{recipient}} from {{name}}
{% else %}
<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
    <strong>Opps!</strong> Cannot send {{credit}} credits as {{name}} doesn't have sufficient credits to send
{% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container my-3">
    <h1 class="text-center">User List</h1>
    <div class="container my-3">
        <ol>
        {% for user in users %}
            <li><a href="/user/{{user.name}}">{{user.name}}</a> - {{user.current_credit}}</li>
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock body %}